.property-home-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.property-home-left-upper {
  padding: 2rem;
}

.property-slider {
  width: 80%;
  position: relative;
}
.property-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.swiper {
  padding: 5%;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  align-content: center;
}

.property-image {
  width: 200px;
  height: 200px;
  border-radius: 2%;
}

.property-image-back {
  background-color: #f8f3f3;
  border-radius: 50%;
  height: 210px;
  width: 210px;
}

.property-social {
  gap: 10px;
  display: flex;
}

.property-social-icon {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 50%;
}

.btnNext, .btnPrev {
  display: none;
}


@media screen and (min-width: 768px) {
  .btnPrev {
    display: inline;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: green;
    border: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 1rem 1.3rem;
    color: #fff;
  }

  .btnNext {
    position: absolute;
    display: inline;
    right: 0;
    top: 50%;
    background-color: green;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    padding: 1rem 1.3rem;
    color: #fff;
  }
}
